#page-flights {
  width: 100%;
  max-width: 1024px;

  margin: 0 auto;
  padding-bottom: 128px;
}

#page-flights header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 60px 0;
}

#page-flights header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#page-flights header div #create-flight {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 266px;
  height: 48px;
  background-color: var(--primary-color);
  border-radius: 8px;

  color: #f8f8f2;
  font-weight: bold;
  text-decoration: none;
}

#page-flights header div #home {
  border: solid 1.5px;
  border-color: #dcdce5;
  width: 48px;
  height: 48px;
  border-radius: 8px;

  margin-left: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 500ms;
}

#page-flights header div #home:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

#page-flights header div #home svg {
  /* margin-right: 16px; */
  color: var(--primary-color);
  transition: 500ms;
}

#page-flights header div #home:hover svg {
  color: #f8f8f2;
}

#page-flights h1 {
  font-size: 32px;
}
