#page-edit-flight {
  width: 100%;
  max-width: 1024px;

  margin: 0 auto;
  padding-bottom: 128px;
}

#page-edit-flight header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 60px 0;
}

#page-edit-flight header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-edit-flight header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  #page-edit-flight {
    width: 100%;
    max-width: 80vw;
    padding-bottom: 128px;
    margin: 0 auto;
  }
}
