#page-create-flight {
  width: 100%;
  max-width: 1024px;

  margin: 0 auto;
  padding-bottom: 128px;
}

#page-create-flight header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 60px 0;
}

#page-create-flight header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-create-flight header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-create-flight form {
  margin: 0 auto;
  padding: 56px;
  max-width: 730px;
  background: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-create-flight form h1 {
  font-size: 32;
}

#page-create-flight form fieldset {
  margin-top: 56px;
  min-inline-size: auto;
  border: 0;
}

#page-create-flight form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

#page-create-flight form legend h2 {
  font-size: 24px;
}

#page-create-flight form .field-group {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#page-create-flight form .field {
  /* flex: 1; */

  display: flex;
  flex-direction: column;
  /* margin-bottom: 24px; */
  margin-right: 24px;
}

#page-create-flight form .field input[type="text"],
#page-create-flight form .field input[type="email"],
#page-create-flight form .field input[type="number"] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 4px;
  border: 0;
  padding: 16px 8px 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#page-create-flight form .field-group .field #year {
  width: 152px;
}

#page-create-flight form .field-group .field #month,
#page-create-flight form .field-group .field #day {
  width: 114px;
}

#page-create-flight form .field-group .field #hour,
#page-create-flight form .field-group .field #minutes {
  text-align: left;
  width: 80px;
}

#page-create-point form .field input::placeholder {
  color: #a0a0b2;
}

#page-create-flight form .field label {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
}

#page-create-flight form .field :disabled {
  cursor: not-allowed;
}

#page-create-flight form .field #uf {
  width: 104px;
}
/*#page-create-flight form .field-group .field + .field {
  margin-left: 24px;
}

#page-create-flight form .field-group input + input {
  margin-left: 24px;
}*/

#page-create-flight form button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 56px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-create-flight form button:hover {
  background: #b91b20;
}

@media (max-width: 900px) {
  #page-create-flight {
    width: 100%;
    max-width: 80vw;
    padding-bottom: 128px;
    margin: 0 auto;
  }

  #page-create-flight form {
    padding-left: 32px;
    padding-right: 32px;
  }
  #page-create-flight form .field-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  #page-create-flight form button {
    margin-left: auto;
    margin-right: auto;
  }
}
